#white {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: white;
}

#black {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #0C0D0E;
}

#left {
    color: #FE3B1F;
    font-family: Rowdies;
    font-size: 40px;
    font-weight: 400;
    line-height: 79px;
    text-align: center;
    margin: 0;
}

#right {
    color: white;
}

#right {
    color: #FE3B1F;
    font-family: Rowdies;
    font-size: 40px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
}

#text {
    margin: 0 auto;
    margin-bottom: 0;
    position: relative;
    top: 10%;
    background-color: #0C0D0E;
    width: 300px;
    height: 500px;
}

form {
    margin-top: 5em;
}

p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.05em;
    line-height: 150%;
    color: #FFFFFF;
}

select {
    display: block;
    width: 35em;
    height: 4em;
    background: #FFFFFF;
    border: 1px solid #525557;
    margin: auto;
}

input {
    display: block;
    width: 35em;
    height: 4em;
    background: #FFFFFF;
    border: 1px solid #525557;
    box-sizing: border-box;
    margin: auto;
    margin-top: 1em;
}

nav>div {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 7px;
    border-radius: 100%;
    background-color: #FE3B1F;
    opacity: 0.1;
    margin: 2px;
}

nav>div:nth-of-type(1) {
    opacity: 1;
}

nav>div:nth-of-type(2) {
    opacity: 1;
}

nav {
    position: absolute;
    top: 90%;
    left: 40%;
    text-align: center;
}

a {
    opacity: 1;
    text-decoration: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    border: 3px solid #FE3B1F;
    color: #FE3B1F;
}

::placeholder {
    position: absolute;
    top: 30%;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #454545;
}

#add {
    cursor: pointer;
    margin-left: 40em;
    margin-top: 1em;
    background-color: #FE3B1F;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    height: 2em;
}

nav>.move {
    cursor: pointer;
    color: #FE3B1F;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border: 3px solid #FE3B1F;
}

input {
    cursor: pointer;
}